@model cnpmnc.backend.DTOs.TeacherDTOs.TeacherCreateOrUpdateDTO

@{
    ViewData["Title"] = "CreateOrUpdate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Thông tin giảng viên</h6>
            </div>
            <div class="card-body">


                <form asp-action="UpdateInfo" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="LiteracyId" />

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" readonly />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdCard" class="control-label"></label>
                        <input asp-for="IdCard" class="form-control" />
                        <span asp-validation-for="IdCard" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LiteracyId" class="control-label"></label>
                        <input class="form-control" value="@ViewBag.Literacy" readonly/>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<!-- Bootstrap core JavaScript-->
<script src="~/lib/Content/loginassets/vendor/jquery/jquery.min.js"></script>
<script src="~/lib/Content/loginassets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/lib/Content/loginassets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/lib/Content/loginassets/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="~/lib/Content/loginassets/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/lib/Content/loginassets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/lib/Content/loginassets/js/demo/datatables-demo.js"></script>
}