@model cnpmnc.backend.DTOs.AssignmentDTOs.AssignmentCreateOrUpdateDTO

@{
    ViewData["Title"] = "CreateOrUpdate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Thêm phân công mới</h6>
            </div>
            <div class="card-body">


                <form asp-action="CreateOrUpdate" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (@ViewBag.IsEdit)
                    {
                        <input type="hidden" asp-for="Id" />
                    }
                    <div class="form-group">
                        <label asp-for="CourseId" class="control-label"></label>
                        <select asp-for="CourseId" asp-items="@ViewBag.Course" class="form-control">
                            <option>Please select one</option>
                        </select>
                        <span asp-validation-for="CourseId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AssignToTeacherId" class="control-label"></label>
                        <select asp-for="AssignToTeacherId" asp-items="@ViewBag.Teacher" class="form-control">
                            <option>Please select one</option>
                        </select>
                        <span asp-validation-for="AssignToTeacherId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AssignDate" class="control-label"></label>
                        <input asp-for="AssignDate" class="form-control" />
                        <span asp-validation-for="AssignDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note" class="control-label"></label>
                        <input asp-for="Note" class="form-control" />
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                        <a class="btn btn-danger" asp-action="Index">Quay về</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<!-- Bootstrap core JavaScript-->
<script src="~/lib/Content/loginassets/vendor/jquery/jquery.min.js"></script>
<script src="~/lib/Content/loginassets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/lib/Content/loginassets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/lib/Content/loginassets/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="~/lib/Content/loginassets/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/lib/Content/loginassets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/lib/Content/loginassets/js/demo/datatables-demo.js"></script>
}